.carousel1{
    margin-bottom: 10%!important;
    
}

h1.text,h3{
    color: rgb(65, 65, 153)!important;
    font-weight: bold;
}
.view_product{
    background-color: purple;
    color: white;
    border-radius: 1rem;
    height: 80%;
}
.iem-title{
   
    color: rgb(80, 78, 228);
}

a.content-btn{
    background-color: #6e5ed6;
    color: white;
}
